<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<<<<<<< Updated upstream
    <title>Demo EJS</title>
  </head>
  <body>
    <h1>Hello tout le monde</h1>
    <p><%= monInfo %> </p>
    <p>Message : <%=message%></p>
    <% if(condition){ %>
    <p>La condition est vraie</p>
    <% }else{ %>
    <p>La condition est fausse</p>
    <% } %>
=======
    <link rel="stylesheet" href="../public/views.css">
    <title>HELP-ME</title>
  </head>
  <body>
  <%- include('fragments/header') %>


  <%- include('fragments/footer') %>
>>>>>>> Stashed changes
  </body>
</html>