<!DOCTYPE html>

  <header>
    <div>
    <img src="/images/tickets.png" width="80" alt="logo tickets" id="img_tickets">
    <h1>HelpMe !</h1>
    </div>
    <div>
    <a href="Accueil">Accueil</a>
    <a href="SeConnecter">Se Connecter</a>
    </div>
  </header>
