<!DOCTYPE html>

  <header>
    <div>
    <img src="/images/tickets.png" width="80" alt="logo tickets" id="img_tickets">
    <h1>HelpMe !</h1>
    </div>
    <div>
    <a href="../liste-tickets">Accueil</a>

    <% if (session?.user) { %>
    <a class="nav-link" href="/new-ticket">Nouveau Ticket</a>
    <% } %>

    <% if (session?.user) { %>
    <a class="nav-link" href="/logout">Se d&eacute;connecter</a>
    <% } else { %>
    <a class="nav-link" href="/login">Se connecter</a>
    <% } %>
    
  </div>
  </header>
